@import '@fontsource-variable/manrope';
@import 'tailwindcss';

@theme {
  --font-nohemi: 'Nohemi', sans-serif;
  --font-manrope: 'Manrope Variable', sans-serif;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

.wrapper {
  width: 94%;
  margin-inline: auto;
}